// listo
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: 2px solid green;
    grid-template-areas: "header" "main-container" "footer";
}

// listo
.header-container {
    border: 2px solid aquamarine;
    grid-area: header;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.main-container {
    border: 2px solid red;
    grid-area: main-container;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.main-container>.main-content>.title-container {
    border: 2px solid slateblue;
}

// listo
.footer-container {
    border: 2px solid blue;
    grid-area: footer;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}