<div class="navbar-container">

    <div class="btn-actions-navbar">
        <div class="container-logo">
            <img class="img-logo" src="../../../../assets/img/fullstack_logo.png" alt="fullstack logo">
        </div>
        <a href="https://github.com/rabindranathfv" target="_blank" class="btn-navbar" mat-button>Github</a>
    </div>
    <div>
        <mat-form-field>
            <input matInput type="search" placeholder="search here" class="search-input">
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>

</div>