a,
a:visited,
a:active {
    color: inherit;
}

span.author {
    color: #999;
}

span.title,
span.time {
    color: #333;
    font-size: 13pt;
}

a.article-link,
.article-data {
    text-decoration: none !important;
}

::ng-deep .mat-list-base {
    padding-top: 0;
}

.article-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 20vw);
}

.btn-delete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
}

.mat-list-item {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.mat-list-item:hover {
    background-color: #fafafa;
}

.mat-list .mat-list-item.left .mat-list-item-content {
    justify-content: space-between;
}