<div class="main-container">
    <div class="main-content">
        <div class="title-container">
            <mat-card>
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <app-articles></app-articles>
    </div>

</div>