<div class="main-container">
    <div class="main-content">
        <div class="title-container">
            <mat-card>
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="articles">
            <ng-container *ngIf="articles?.length > 0; else elseEmptyArticles">
                <mat-list *ngFor="let art of articles">
                    <a class="article-link" mat-list-item [href]="art.story_url != null ? art.story_url : art.url" target="_blank" [id]="art._id" *ngIf="art.story_title || art.title">
                        <ng-container *ngIf="art.story_title; else elseTemplateTitle ">
                            <div class="article-details">
                                <p>{{ art.story_title }} - {{ art.author }} {{ art.created_at | date }} <button mat-button><i class="fas fa-trash-alt"></i></button></p>
                            </div>
                        </ng-container>
                        <ng-template #elseTemplateTitle>
                            <div class="article-details">
                                <p>{{ art.title }} - {{ art.author }} {{ art.created_at | date }} <button mat-button><i class="fas fa-trash-alt"></i></button></p>
                            </div>
                        </ng-template>
                    </a>
                    <mat-divider></mat-divider>
                </mat-list>
            </ng-container>
            <ng-template #elseEmptyArticles>
                <mat-card>
                    <mat-card-content>
                        <div class="no-articles">
                            <p>there is no articles <i class="fas fa-info-circle"></i></p>
                        </div>
                        <img mat-card-image class="no-articles-img" src="../../../../assets/img/fogg-page-not-found.png" alt="Photo of a Shiba Inu">
                    </mat-card-content>
                </mat-card>
            </ng-template>

        </div>
    </div>

</div>